.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: white;
  padding: 20px;
  overflow: hidden;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.letter {
  border: 1px solid white;
  margin: 8px;
  height: 48px;
  width: 48px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 4px;
  font-size: 24px;
  font-weight: 800;
  border-radius: 4px;
  color: white;
}

.letter#green {
  background-color: #1a701a;
  border: none;
  height: 50px;
  width: 50px;
}

.letter#yellow {
  background-color: #cf9b1b;
  border: none;
  height: 50px;
  width: 50px;
}

.letter#grey {
  background-color: #646b70;
  border: none;
  height: 50px;
  width: 50px;
}

.letter#red {
  background-color: #b01c1c;
  border: none;
  height: 50px;
  width: 50px;
}

.celebration {
  position: absolute;
  bottom: 50px;
  align-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: 600;
}

.celebration-button {
  margin-top: 50px;
  border-radius: 12px;
  padding: 12px 24px;
  background-color: #6495ed;
  color: white;
  font-weight: 700;
  border: none;
  font-size: 18px;
}

.small-text {
  font-size: 30px;
  margin-top: 12px;
}

.lottie {
  height: 600px;
  width: 600px;
}

.app-title {
  color: #dfe9f2;
  font-size: 30px;
  font-weight: 600;
}
.score-text {
  margin-top: 6px;
  font-weight: 600;
  color: #a7c7e7;
}

.help-container {
  position: absolute;
  right: 16px;
}

.help-icon {
  height: 30px;
}

.help-title {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

.help-content {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
}

.help-button {
  background: none;
  border: 1px dotted #191970;
  font-size: 18px;
  color: #191970;
  border-radius: 12px;
  margin-top: 6px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.close-button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  align-self: flex-end;
}

.keyboard {
  width: 700px;
  height: 300px;
  margin-top: 10px;
}

.line1 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.line2 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}
.line3 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.key {
  width: 50px;
  height: 70px;
  margin: 5px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 20px;
  background-color: grey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#big {
  width: 100px;
}

#disabled {
  background-color: #3a393c;
}

.overlay {
  background-color: black;
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
