.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: white;
  padding: 20px;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.row {
  display: flex;
  flex-direction: row;
}

.letter {
  border: 1px solid white;
  margin: 10px;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 6px;
}

.celebration {
  position: absolute;
  bottom: 50px;
  align-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 40px;
}

.celebration-button {
  margin-top: 50px;
  border-radius: 12px;
  padding: 12px 24px;
  background-color: #6495ed;
  color: white;
  font-weight: 700;
  border: none;
  font-size: 18px;
}

.small-text {
  font-size: 20px;
  margin-top: 12px;
}

.game-over-lottie {
  height: 600px;
  width: 600px;
}
